@font-face {  
  font-family: ct_prop;  
  src: url( fonts/ct_prop.ttf ) format("truetype");  
}  


html, body {
  /* Prevents scrollbars */
  overflow: hidden;
  margin: 0;
}

.account {
  height: 30px;
  margin-top: 15px;
  margin-left: 15px;
}

.allGameViews {
  margin-top: -45px;
  text-align: center;
}

#canvasMain {
/bin/bash: :quit: command not found
    /*
    font-size: 136.499992370605455px;
    */
    font-size: 48px;
}

#canvasData {
}
